doctype html
html(lang="en")

	head
		title BBDO Tech test
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords', content='')
		meta(name="description" content="")


		meta(property='og:title', content='')
		meta(property='og:description', content='')
		meta(property='og:type', content='website')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='og:image:type', content='image/jpg')
		link(rel='shortcut icon', href='')

		link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet")
		link(rel="stylesheet", href="assets/css/style.css")


	body

		header#header
			.container
				a(href="#").logo.caption AGENCY.

				.menu-trigger
					span
					span
					span

		main
			#hero
				.bg
				.container
					.intro.row
						.gr-center
							.title
								h2.caption.sub-tit WE'RE
								h2.caption.main-tit CREATIVE AGENCY
								p.text.text-m Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.histroy.row
						.gr-5
							.img
								img(src="assets/images/history_img.jpg", alt="")
						.gr-6.push-1
							.info
								h2.caption HISTORY OF AGENCY
								p.text.text-m Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt ut labore.
							.gr-4.push-8
								.btn.btn-readmore READ MORE
			#pricing
				.container
					.row
						.gr-8.push-2
							.title
								h2.caption pricing plans
								p.text.text-s Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.row
						.gr-4
							.plan
								h3.caption BASIC
								.price
									p $35.99 Monthly
								.features
									p Lorem ipsum dolor sit amet
									p Consectetuer adipiscing elit
									p Sed diam nonummy
									p Nibh euismod tincidunt
									p Ut laoreet dolore
									p Magna aliquam erat volutpat
								.btn.btn-getstarted GET STARTED

						.gr-4
							.plan
								h3.caption ADVANCED
								.price
									p $55.99 Monthly
								.features
									p Lorem ipsum dolor sit amet
									p Consectetuer adipiscing elit
									p Sed diam nonummy
									p Nibh euismod tincidunt
									p Ut laoreet dolore
									p Magna aliquam erat volutpat
								.btn.btn-getstarted GET STARTED

						.gr-4
							.plan
								h3.caption SMART
								.price
									p $75.99 Monthly
								.features
									p Lorem ipsum dolor sit amet
									p Consectetuer adipiscing elit
									p Sed diam nonummy
									p Nibh euismod tincidunt
									p Ut laoreet dolore
									p Magna aliquam erat volutpat
								.btn.btn-getstarted GET STARTED



				#newsletter
					.container
						.row
							.gr-5
								.contact
									h2.caption
										|YOU THINK WE'RE COOL ?
										br
										|LET'S WORK TOGETHER
									.btn.btn-getintouch GET IN TOUCH

							.gr-6.push-1
								.form
									h3.caption
										|STAY INFORMED WITH OUR
										br
										|NEWSLETTER
									p.text-m Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

									input(type="text" placeholder="YOUR EMAIL")
									.btn.btn-send SEND





		footer#footer

		//- script(src='assets/js/main.min.js')