#pricing{
	padding-bottom: 6.25rem;

	& .title{
		max-width: 790px;
		margin: 0 auto;
	}

	& .desc{
		margin: 0 auto;
		text-align: center;
		margin-top: 2.5rem;
		max-width: 600px;
	}
	& .wrapper{
		overflow-x: hidden;
		padding-bottom: 3rem;
	}
	& .flex_box{
		display: flex;
		justify-content: center;
		margin-top: 7.5rem;
	}
	& .plan{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 350px;
		box-shadow: 0 .3rem 2.2rem .3rem rgba(67,110,161,.3);
		margin: 0 48px;
		padding-bottom: 25px;
		text-align: center;
		flex: 0 0 auto;
		transition: color .3s, background .3s;

		& .name{
			font-size: 1.5rem;
		  font-weight: bold;
		  text-align: center;
		  padding-top: 35px;
		}

		& .price{
			font-size: 3.25rem;
			vertical-align: bottom;
			font-weight: bold;
			margin-top: 1.25rem;
			margin-bottom: 2.5rem;

			&:before{
				content:"$";
				font-size: 2rem;
			}
			&:after{
				content:"/month";
				font-size: 1.125rem;
				letter-spacing: -0.5px;
				font-weight: normal;
			}
		}
		&. feature_list{

		}
		& .feature{
			text-align: left;
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			&.disabled{
				opacity: .2;
			}

			& img{
				display: inline-block;
				width: 30px;
				margin-right: 10px;
			}
			& p{
				display: inline-block;
				font-size: 1.125rem;
				line-height: 2rem;
			  font-weight: bold;
			  letter-spacing: -0.5px;

			}
		}

		&:hover{
			background-color: #230051;
			color:#fff;

			/*transform: scale(1.03);*/
		}
	}
}
@media (max-width: 1366px) {
	#pricing{
		& .plan{
			margin: 0 25px;
		}
	}
}
@media (max-width: 1200px) {
	#pricing{
		& .plan{
			width: 30%;
			margin: 0 1.5%;
		}
	}
}

@media (max-width: 768px) {
	#pricing{
		& .wrapper{
			padding: 35px 0px;
			overflow-x: hidden;
			cursor: -moz-grab;
	    cursor: -webkit-grab;
	    cursor: grab;

	    &.grabbing{
	    	cursor: -moz-grabbing;
		    cursor: -webkit-grabbing;
		    cursor: grabbing;
	    }
		}
		& .flex_box{
			margin-top: 3.5rem;
			justify-content: flex-start;
		}
		& .plan{
			display: inline-flex;
			width: 60%;
			margin: 0 5%;

			&:first-child{ margin-left: 20%; }
			&:last-child{ margin-right: 20%; }
		}
	}
}
@media (max-width: 640px) {
	#pricing{
		& .title{
			line-height: 2.75rem;
		}
		& .desc{
			width: 300px;
			line-height: 1.5rem;
		}

		& .plan{
			width: 70%;
			margin: 0 4%;

			&:first-child{ margin-left: 12%; }
			&:last-child{ margin-right: 12%; }

			& img{
				width: 25px;
				margin-right: 5px;
			}

			& .feature{
				& p{
					font-size: 1rem;
					line-height: 1rem;
				}
			}
		}
	}
}
