@charset "UTF-8";
@import "compass/reset", "compass/css3";
@import "variable", "mixin";
@import "ceaser-easing/ceaser";

body {
	background:#777;
	padding:0;
	margin:0;
	font-weight: bold;
	overflow:hidden;
}

#title{
	position: absolute;
	color:#fff;
	color: rgba(#777,.7);
	font-size: 6rem;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	// mix-blend-mode: difference;
	&:hover{
		@include filter( url("#glitch") );

	}

}
.svg-filters{
	position: absolute;
	width: 1px; height: 1px;
	cursor: none;
	left: -5px;
}
h1{
	@include mobile_l{
		font-size: 3rem;
	}
}