#feature{
	background: url(../../content/background.jpg) top center no-repeat;
	background-size: 1920px auto;
	padding-top: 190px;
	padding-bottom: 5rem;

	& p{
		text-align: center;
		color: #fff;
	}
	& .feature_top{
		& .subtit{
			font-size: 1.5rem;
			line-height: 1.875rem;
			letter-spacing: -.5px;
			opacity: .6;
			margin-top: .875rem;
		}
		& .btn{
			margin-top: 3.125rem;
		}

		& .link{
			margin-top: 1.875rem;
		}


		& .video_box{
			position: relative;
			width: 90%;
			max-width: 1014px;
		  border-radius: 8px;
		  margin: 0 auto;
		  margin-top: 4.875rem;
		  box-shadow: inset 0 -4.5rem 3.2rem 0 rgba(0, 0, 0, 0.24), 0 0 3rem .6rem rgba(67,110,161,.3);

		  background-color: #fff;
		  &:after{
		  	content:'';
		  	display: block;
		  	padding-bottom: 56.25%;
		  }
		}

		& .desc{
		  font-weight: 600;
		  font-size: 1.5rem;
		  line-height: 2rem;
		  letter-spacing: -0.7px;
		  margin-top: 100px;
		  color: #212b36;
		}

	}

	& .feature_bottom{
		& .title{
			margin-top: 9.5rem;
		}
		& .flex_box{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			max-width: 1350px;
			margin: 3.75rem auto;
		}

		& .feature_item{
			margin: 30px 30px;
			width: 265px;

			& .svg_icon{
				display: flex;
				height: 70px;
				align-items: center;
				justify-content: center;
			}
			& .feature_tit{
			  font-size: 1.5rem;
			  font-weight: bold;
			  text-align: center;
			  margin: 20px 0;
			}
			& .desc{
			  font-size: 1.25rem;
			  line-height: 1.6;
			  letter-spacing: -0.6px;
			  text-align: center;
			  color: #637381;
			}

			&.disabled .feature_tit, &.disabled .desc{
				opacity: .5;
			}

			&:hover .svg_icon{
				animation: heartbeat 2s;
			}
		}



	}
}
@media (max-width: 1366px) {
	#feature .feature_bottom .feature_item{
		margin: 30px 20px;
		width: 240px;
	}
}
@media (max-width: 1200px) {
	#feature .feature_bottom .feature_item {
    margin: 20px 15px;
    width: 200px;
	}
}
@media (max-width: 768px) {
	#feature{
		& .feature_bottom{
			& .flex_box{
				width: 90%;

			}
		}
	}
}
@media (max-width: 640px) {
	#feature{
		background-size: 350% auto;
		padding-top: 10rem;
		padding-bottom: 5rem;

		& .feature_top{
			& .subtit{
				font-size: 1.4rem;
			}

			& .desc{
				font-size: 1.4rem;
				width: 300px;
				margin: 0 auto;
				margin-top: 3.5rem;
			}
			& .vidoe_box{
				margin-top: 2.5rem;
			}
		}

		& .feature_bottom{
			& .title{
				margin-top: 4rem;
			}
			& .flex_box{
				margin: 2.5rem auto;

				& .feature_item{
					margin: 5% 2%;
    			width: 46%;

    			& .desc{
    				font-size: 1rem;
    			}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	#feature{
		background-size: 1500px auto;
	}
}


/* animation */
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}