.btn{
	position: relative;
	display: block;
  color: #fff;
  letter-spacing: -.4px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
	transition: .3s;

  &.btn-white{
		width: 100px;
	  height: 40px;
	  line-height: 40px;
	  font-size: 1rem;
	  border-radius: 100px;
	  border: solid 1.5px #ffffff;
		overflow: hidden;
		/*transition: .3s .15s;*/
		&:after{
			content:'';
			display: block;
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background-color: #606fc7;
			transform: translateY(100%);
			transition: .3s;
		}
		&:hover {
			/*border-color: #606fc7;*/
			/*color: #606fc7;*/
			&:after{
				transform: translateY(-100%);
			}
		}

  }
  &.btn-blue{

	  width: 220px;
	  height: 50px;
	  line-height: 50px;
	  font-size: 1.25rem;
	  border-radius: 95px;
	  background-color: #606fc7;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		overflow: hidden;

		&:before{
			content: '';
			position: absolute;
			display: inline-block;
			left: 0; top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(135deg, #606fc7 20%, #230051 100%);

			z-index: 1;
			transform: scale(3);
			opacity: 0;
			transition: .3s;
		}
	  &:hover:before{
	  	opacity: 1;
			transform: scale(1);
	  }
  }

  & span{
  	position: relative;
  	display: inline-block;
  	z-index: 10;
  }
}

@media (max-width: 640px) {
	.btn{

		&.btn-blue{
			width: 150px; height: 40px;
			line-height: 40px;
			/*font-size: 1rem;*/
		}
	}

}

