#more{
	padding: 150px 0;
	background-color: #f3f4fa;
	overflow: hidden;
	& .bg{
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%; top: 50%;
		width: 880px;
		opacity: .05;
		z-index: 0;
	}
	& .title{
		max-width: 920px;
		margin: 0 auto;
		font-size: 2.25rem;
	  font-weight: 600;
	  line-height: 2.875rem;
	  letter-spacing: -1px;
	  z-index: 10;
	}
	& .btn{
		margin-top: 40px;
		z-index: 10;
	}
}

@media (max-width: 768px) {
	#more{
		padding: 80px 0;

		& .bg{
			width: 110%;
		}
		& .title{
			/*font-size: 28px;*/
		}
	}

}